<div class="animated fadeIn">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2>WEDDING GOLD PURCHASE SCHEME</h2>
      </div>
      <div class="card-body">
        <form #usForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="shopName"><strong>Name / പേര്</strong></label>
              <input type="text" class="form-control" id="name" name="name" required ngModel placeholder="Enter your name here">
            </div>
            <div class="form-group col-md-6">
              <label for="phone"><strong>Customer contact number / ഫോൺ നമ്പർ</strong></label>
              <input type="tel" class="form-control" id="phone" name="phone" ngModel required placeholder="Enter your phone number here">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="HouseName"><strong>House Name / വീട്ടുപേര് </strong></label>
              <input type="text" class="form-control" id="HouseName" name="HouseName" required ngModel placeholder="Enter your house Name here">
            </div>
            <div class="form-group col-md-6">
              <label for="PostOfficeNumber"><strong>Post Office number / പോസ്റ്റ് ഓഫീസ് നമ്പർ</strong></label>
              <input type="number" class="form-control" id="PostOfficeNumber" name="PostOfficeNumber" ngModel required placeholder="Enter your Post Office Number here">
            </div>
          </div>
          <div class="form-group">
            <label for="Landmark"><strong>Landmark </strong></label>
            <input type="text" class="form-control" id="Landmark" name="Landmark" required ngModel placeholder="Enter your nearest landmark here">
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="marriage_purchase"><strong>വിവാഹ പർച്ചേസ് ?</strong></label>
              <select class="form-control" id="marriage_purchase" name="marriage_purchase" required ngModel aria-label="Default select example">
                <option selected value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="pincode"><strong>വിവാഹ തീയതി</strong></label>
              <input type="date" class="form-control" ngModel id="date" name="date">
            </div>
            <div class="form-group col-md-4">
              <label for="pawan"><strong>ആവിശ്യം ഉള്ള പവൻ</strong></label>
              <select class="form-control" id="pawan" name="pawan" required ngModel aria-label="Default select example">
                <option value="5">5 പവൻ</option>
                <option value="10">10 പവൻ</option>
                <option value="15">15 പവൻ</option>
                <option value="20">20 പവൻ</option>
                <option value="25">25 പവൻ</option>
                <option value="30">30 പവൻ</option>
                <option value=">30">30 പവനിൽ കൂടുതൽ </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="pincode"><strong>വിവാഹ ആവശ്യത്തിനുള്ള പലിശ രഹിത വായ്‌പ പദ്ധതിയിൽ അംഗം ആകാൻ താല്പര്യം?</strong></label>
            <select class="form-control" id="emi" name="emi" required ngModel aria-label="Default select example">
              <option selected value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>